{"openapi":"3.0.1","info":{"title":"OpenDota API","description":"# Introduction\nThe OpenDota API provides Dota 2 related data including advanced match data extracted from match replays.\n\nYou can find data that can be used to convert hero and ability IDs and other information provided by the API from the [dotaconstants](https://github.com/odota/dotaconstants) repository.\n\n**Beginning 2018-04-22, the OpenDota API is limited to 50,000 free calls per month and 60 requests/minute** We offer a Premium Tier with unlimited API calls and higher rate limits. Check out the [API page](https://www.opendota.com/api-keys) to learn more.\n","version":"19.0.0"},"servers":[{"url":"//api.opendota.com/api"}],"paths":{"/matches/{match_id}":{"get":{"tags":["matches"],"summary":"GET /matches/{match_id}","description":"Match data","parameters":[{"name":"match_id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"MatchResponse","type":"object","properties":{"match_id":{"type":"integer","description":"The ID number of the match assigned by Valve"},"barracks_status_dire":{"type":"integer","description":"Bitmask. An integer that represents a binary of which barracks are still standing. 63 would mean all barracks still stand at the end of the game."},"barracks_status_radiant":{"type":"integer","description":"Bitmask. An integer that represents a binary of which barracks are still standing. 63 would mean all barracks still stand at the end of the game."},"chat":{"type":"array","description":"Array containing information on the chat of the game","items":{"type":"object","properties":{"time":{"type":"integer","description":"Time in seconds at which the message was said"},"unit":{"type":"string","description":"Name of the player who sent the message"},"key":{"type":"string","description":"The message the player sent"},"slot":{"type":"integer","description":"slot"},"player_slot":{"type":"integer","description":"Which slot the player is in. 0-127 are Radiant, 128-255 are Dire"}}}},"cluster":{"type":"integer","description":"cluster"},"cosmetics":{"type":"object","properties":{},"description":"cosmetics"},"dire_score":{"type":"integer","description":"Final score for Dire (number of kills on Radiant)"},"draft_timings":{"type":"array","description":"draft_timings","items":{"type":"object","properties":{"order":{"type":"integer","description":"order"},"pick":{"type":"boolean","description":"pick"},"active_team":{"type":"integer","description":"active_team"},"hero_id":{"type":"integer","description":"The ID value of the hero played"},"player_slot":{"type":"integer","description":"Which slot the player is in. 0-127 are Radiant, 128-255 are Dire"},"extra_time":{"type":"integer","description":"extra_time"},"total_time_taken":{"type":"integer","description":"total_time_taken"}},"description":"draft_stage"}},"duration":{"type":"integer","description":"Duration of the game in seconds"},"engine":{"type":"integer","description":"engine"},"first_blood_time":{"type":"integer","description":"Time in seconds at which first blood occurred"},"game_mode":{"type":"integer","description":"Integer corresponding to game mode played. List of constants can be found here: https://github.com/odota/dotaconstants/blob/master/json/game_mode.json"},"human_players":{"type":"integer","description":"Number of human players in the game"},"leagueid":{"type":"integer","description":"leagueid"},"lobby_type":{"type":"integer","description":"Integer corresponding to lobby type of match. List of constants can be found here: https://github.com/odota/dotaconstants/blob/master/json/lobby_type.json"},"match_seq_num":{"type":"integer","description":"match_seq_num"},"negative_votes":{"type":"integer","description":"Number of negative votes the replay received in the in-game client"},"objectives":{"type":"object","properties":{},"description":"objectives"},"picks_bans":{"type":"object","properties":{},"description":"Object containing information on the draft. Each pick/ban contains a boolean relating to whether the choice is a pick or a ban, the hero ID, the team the picked or banned it, and the order."},"positive_votes":{"type":"integer","description":"Number of positive votes the replay received in the in-game client"},"radiant_gold_adv":{"type":"object","properties":{},"description":"Array of the Radiant gold advantage at each minute in the game. A negative number means that Radiant is behind, and thus it is their gold disadvantage. "},"radiant_score":{"type":"integer","description":"Final score for Radiant (number of kills on Radiant)"},"radiant_win":{"type":"boolean","description":"Boolean indicating whether Radiant won the match"},"radiant_xp_adv":{"type":"object","properties":{},"description":"Array of the Radiant experience advantage at each minute in the game. A negative number means that Radiant is behind, and thus it is their experience disadvantage. "},"start_time":{"type":"integer","description":"The Unix timestamp at which the game started"},"teamfights":{"type":"object","properties":{},"description":"teamfights"},"tower_status_dire":{"type":"integer","description":"Bitmask. An integer that represents a binary of which Dire towers are still standing."},"tower_status_radiant":{"type":"integer","description":"Bitmask. An integer that represents a binary of which Radiant towers are still standing."},"version":{"type":"integer","description":"Parse version, used internally by OpenDota"},"replay_salt":{"type":"integer","description":"replay_salt"},"series_id":{"type":"integer","description":"series_id"},"series_type":{"type":"integer","description":"series_type"},"radiant_team":{"type":"object","properties":{},"description":"radiant_team"},"dire_team":{"type":"object","properties":{},"description":"dire_team"},"league":{"type":"object","properties":{},"description":"league"},"skill":{"type":"integer","description":"Skill bracket assigned by Valve (Normal, High, Very High)"},"players":{"type":"array","description":"Array of information on individual players","items":{"type":"object","properties":{"match_id":{"type":"integer","description":"Match ID"},"player_slot":{"type":"integer","description":"Which slot the player is in. 0-127 are Radiant, 128-255 are Dire"},"ability_upgrades_arr":{"type":"array","description":"An array describing how abilities were upgraded","items":{"type":"integer"}},"ability_uses":{"type":"object","properties":{},"description":"Object containing information on how many times the played used their abilities"},"ability_targets":{"type":"object","properties":{},"description":"Object containing information on who the player used their abilities on"},"damage_targets":{"type":"object","properties":{},"description":"Object containing information on how and how much damage the player dealt to other heroes"},"account_id":{"type":"integer","description":"account_id"},"actions":{"type":"object","properties":{},"description":"Object containing information on how many and what type of actions the player issued to their hero"},"additional_units":{"type":"object","properties":{},"description":"Object containing information on additional units the player had under their control"},"assists":{"type":"integer","description":"Number of assists the player had"},"backpack_0":{"type":"integer","description":"Item in backpack slot 0"},"backpack_1":{"type":"integer","description":"Item in backpack slot 1"},"backpack_2":{"type":"integer","description":"Item in backpack slot 2"},"buyback_log":{"type":"array","description":"Array containing information about buybacks","items":{"type":"object","properties":{"time":{"type":"integer","description":"Time in seconds the buyback occurred"},"slot":{"type":"integer","description":"slot"},"player_slot":{"type":"integer","description":"Which slot the player is in. 0-127 are Radiant, 128-255 are Dire"}}}},"camps_stacked":{"type":"integer","description":"Number of camps stacked"},"connection_log":{"type":"array","description":"Array containing information about the player's disconnections and reconnections","items":{"type":"object","properties":{"time":{"type":"integer","description":"Game time in seconds the event ocurred"},"event":{"type":"string","description":"Event that occurred"},"player_slot":{"type":"integer","description":"Which slot the player is in. 0-127 are Radiant, 128-255 are Dire"}}}},"creeps_stacked":{"type":"integer","description":"Number of creeps stacked"},"damage":{"type":"object","properties":{},"description":"Object containing information about damage dealt by the player to different units"},"damage_inflictor":{"type":"object","properties":{},"description":"Object containing information about about the sources of this player's damage to heroes"},"damage_inflictor_received":{"type":"object","properties":{},"description":"Object containing information about the sources of damage received by this player from heroes"},"damage_taken":{"type":"object","properties":{},"description":"Object containing information about from whom the player took damage"},"deaths":{"type":"integer","description":"Number of deaths"},"denies":{"type":"integer","description":"Number of denies"},"dn_t":{"type":"array","description":"Array containing number of denies at different times of the match","items":{"type":"integer"}},"gold":{"type":"integer","description":"Gold at the end of the game"},"gold_per_min":{"type":"integer","description":"Gold Per Minute obtained by this player"},"gold_reasons":{"type":"object","properties":{},"description":"Object containing information on how the player gainined gold over the course of the match"},"gold_spent":{"type":"integer","description":"How much gold the player spent"},"gold_t":{"type":"array","description":"Array containing total gold at different times of the match","items":{"type":"integer"}},"hero_damage":{"type":"integer","description":"Hero Damage Dealt"},"hero_healing":{"type":"integer","description":"Hero Healing Done"},"hero_hits":{"type":"object","properties":{},"description":"Object containing information on how many ticks of damages the hero inflicted with different spells and damage inflictors"},"hero_id":{"type":"integer","description":"The ID value of the hero played"},"item_0":{"type":"integer","description":"Item in the player's first slot"},"item_1":{"type":"integer","description":"Item in the player's second slot"},"item_2":{"type":"integer","description":"Item in the player's third slot"},"item_3":{"type":"integer","description":"Item in the player's fourth slot"},"item_4":{"type":"integer","description":"Item in the player's fifth slot"},"item_5":{"type":"integer","description":"Item in the player's sixth slot"},"item_uses":{"type":"object","properties":{},"description":"Object containing information about how many times a player used items"},"kill_streaks":{"type":"object","properties":{},"description":"Object containing information about the player's killstreaks"},"killed":{"type":"object","properties":{},"description":"Object containing information about what units the player killed"},"killed_by":{"type":"object","properties":{},"description":"Object containing information about who killed the player"},"kills":{"type":"integer","description":"Number of kills"},"kills_log":{"type":"array","description":"Array containing information on which hero the player killed at what time","items":{"type":"object","properties":{"time":{"type":"integer","description":"Time in seconds the player killed the hero"},"key":{"type":"string","description":"Hero killed"}}}},"lane_pos":{"type":"object","properties":{},"description":"Object containing information on lane position"},"last_hits":{"type":"integer","description":"Number of last hits"},"leaver_status":{"type":"integer","description":"Integer describing whether or not the player left the game. 0: didn't leave. 1: left safely. 2+: Abandoned"},"level":{"type":"integer","description":"Level at the end of the game"},"lh_t":{"type":"array","description":"Array describing last hits at each minute in the game","items":{"type":"integer"}},"life_state":{"type":"object","properties":{},"description":"life_state"},"max_hero_hit":{"type":"object","properties":{},"description":"Object with information on the highest damage instance the player inflicted"},"multi_kills":{"type":"object","properties":{},"description":"Object with information on the number of the number of multikills the player had"},"obs":{"type":"object","properties":{},"description":"Object with information on where the player placed observer wards. The location takes the form (outer number, inner number) and are from ~64-192."},"obs_left_log":{"type":"array","description":"obs_left_log","items":{"type":"object","properties":{}}},"obs_log":{"type":"array","description":"Object containing information on when and where the player placed observer wards","items":{"type":"object","properties":{}}},"obs_placed":{"type":"integer","description":"Total number of observer wards placed"},"party_id":{"type":"integer","description":"party_id"},"permanent_buffs":{"type":"array","description":"Array describing permanent buffs the player had at the end of the game. List of constants can be found here: https://github.com/odota/dotaconstants/blob/master/json/permanent_buffs.json","items":{"type":"object","properties":{}}},"pings":{"type":"integer","description":"Total number of pings"},"purchase":{"type":"object","properties":{},"description":"Object containing information on the items the player purchased"},"purchase_log":{"type":"array","description":"Object containing information on when items were purchased","items":{"type":"object","properties":{"time":{"type":"integer","description":"Time in seconds the item was bought"},"key":{"type":"string","description":"String item ID"},"charges":{"type":"integer","description":"Integer amount of charges"}}}},"rune_pickups":{"type":"integer","description":"Number of runes picked up"},"runes":{"type":"object","additionalProperties":{"type":"integer"},"description":"Object with information about which runes the player picked up"},"runes_log":{"type":"array","description":"Array with information on when runes were picked up","items":{"type":"object","properties":{"time":{"type":"integer","description":"Time in seconds rune picked up"},"key":{"type":"integer","description":"key"}}}},"sen":{"type":"object","properties":{},"description":"Object with information on where sentries were placed. The location takes the form (outer number, inner number) and are from ~64-192."},"sen_left_log":{"type":"array","description":"Array containing information on when and where the player placed sentries","items":{"type":"object","properties":{}}},"sen_log":{"type":"array","description":"Array with information on when and where sentries were placed by the player","items":{"type":"object","properties":{}}},"sen_placed":{"type":"integer","description":"How many sentries were placed by the player"},"stuns":{"type":"number","description":"Total stun duration of all stuns by the player"},"times":{"type":"array","description":"Time in seconds corresponding to the time of entries of other arrays in the match.","items":{"type":"integer"}},"tower_damage":{"type":"integer","description":"Total tower damage done by the player"},"xp_per_min":{"type":"integer","description":"Experience Per Minute obtained by the player"},"xp_reasons":{"type":"object","properties":{},"description":"Object containing information on the sources of this player's experience"},"xp_t":{"type":"array","description":"Experience at each minute of the game","items":{"type":"integer"}},"personaname":{"type":"string","description":"personaname"},"name":{"type":"string","description":"name"},"last_login":{"type":"string","description":"Time of player's last login","format":"date-time"},"radiant_win":{"type":"boolean","description":"Boolean indicating whether Radiant won the match"},"start_time":{"type":"integer","description":"Start time of the match in seconds since 1970"},"duration":{"type":"integer","description":"Duration of the game in seconds"},"cluster":{"type":"integer","description":"cluster"},"lobby_type":{"type":"integer","description":"Integer corresponding to lobby type of match. List of constants can be found here: https://github.com/odota/dotaconstants/blob/master/json/lobby_type.json"},"game_mode":{"type":"integer","description":"Integer corresponding to game mode played. List of constants can be found here: https://github.com/odota/dotaconstants/blob/master/json/game_mode.json"},"patch":{"type":"integer","description":"Integer representing the patch the game was played on"},"region":{"type":"integer","description":"Integer corresponding to the region the game was played on"},"isRadiant":{"type":"boolean","description":"Boolean for whether or not the player is on Radiant"},"win":{"type":"integer","description":"Binary integer representing whether or not the player won"},"lose":{"type":"integer","description":"Binary integer representing whether or not the player lost"},"total_gold":{"type":"integer","description":"Total gold at the end of the game"},"total_xp":{"type":"integer","description":"Total experience at the end of the game"},"kills_per_min":{"type":"number","description":"Number of kills per minute"},"kda":{"type":"number","description":"kda"},"abandons":{"type":"integer","description":"abandons"},"neutral_kills":{"type":"integer","description":"Total number of neutral creeps killed"},"tower_kills":{"type":"integer","description":"Total number of tower kills the player had"},"courier_kills":{"type":"integer","description":"Total number of courier kills the player had"},"lane_kills":{"type":"integer","description":"Total number of lane creeps killed by the player"},"hero_kills":{"type":"integer","description":"Total number of heroes killed by the player"},"observer_kills":{"type":"integer","description":"Total number of observer wards killed by the player"},"sentry_kills":{"type":"integer","description":"Total number of sentry wards killed by the player"},"roshan_kills":{"type":"integer","description":"Total number of roshan kills (last hit on roshan) the player had"},"necronomicon_kills":{"type":"integer","description":"Total number of Necronomicon creeps killed by the player"},"ancient_kills":{"type":"integer","description":"Total number of Ancient creeps killed by the player"},"buyback_count":{"type":"integer","description":"Total number of buyback the player used"},"observer_uses":{"type":"integer","description":"Number of observer wards used"},"sentry_uses":{"type":"integer","description":"Number of sentry wards used"},"lane_efficiency":{"type":"number","description":"lane_efficiency"},"lane_efficiency_pct":{"type":"number","description":"lane_efficiency_pct"},"lane":{"type":"integer","description":"Integer referring to which lane the hero laned in"},"lane_role":{"type":"integer","description":"lane_role"},"is_roaming":{"type":"boolean","description":"Boolean referring to whether or not the player roamed"},"purchase_time":{"type":"object","properties":{},"description":"Object with information on when the player last purchased an item"},"first_purchase_time":{"type":"object","properties":{},"description":"Object with information on when the player first puchased an item"},"item_win":{"type":"object","properties":{},"description":"Object with information on whether or not the item won"},"item_usage":{"type":"object","properties":{},"description":"Object containing binary integers the tell whether the item was purchased by the player (note: this is always 1)"},"purchase_tpscroll":{"type":"object","properties":{},"description":"Total number of TP scrolls purchased by the player"},"actions_per_min":{"type":"integer","description":"Actions per minute"},"life_state_dead":{"type":"integer","description":"life_state_dead"},"rank_tier":{"type":"integer","description":"The rank tier of the player. Tens place indicates rank, ones place indicates stars."},"cosmetics":{"type":"array","description":"cosmetics","items":{"type":"integer"}},"benchmarks":{"type":"object","properties":{},"description":"Object containing information on certain benchmarks like GPM, XPM, KDA, tower damage, etc"}},"description":"player"}},"patch":{"type":"integer","description":"Information on the patch version the game is played on"},"region":{"type":"integer","description":"Integer corresponding to the region the game was played on"},"all_word_counts":{"type":"object","properties":{},"description":"Word counts of the all chat messages in the player's games"},"my_word_counts":{"type":"object","properties":{},"description":"Word counts of the player's all chat messages"},"throw":{"type":"integer","description":"Maximum gold advantage of the player's team if they lost the match"},"comeback":{"type":"integer","description":"Maximum gold disadvantage of the player's team if they won the match"},"loss":{"type":"integer","description":"Maximum gold disadvantage of the player's team if they lost the match"},"win":{"type":"integer","description":"Maximum gold advantage of the player's team if they won the match"},"replay_url":{"type":"string","description":"replay_url"}}}}}}}}},"/playersByRank":{"get":{"tags":["playersByRank"],"summary":"GET /playersByRank","description":"Players ordered by rank/medal tier","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"PlayersByRankResponse","type":"object","properties":{"account_id":{"type":"number","description":"account_id"},"rank_tier":{"type":"number","description":"Integer indicating the rank/medal of the player"},"fh_unavailable":{"type":"boolean","description":"Indicates if we were unable to fetch full history for this player due to privacy settings"}}}}}}}}},"/players/{account_id}":{"get":{"tags":["players"],"summary":"GET /players/{account_id}","description":"Player data","parameters":[{"name":"account_id","in":"path","description":"Steam32 account ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"PlayerResponse","type":"object","properties":{"solo_competitive_rank":{"type":"integer","description":"solo_competitive_rank"},"competitive_rank":{"type":"integer","description":"competitive_rank"},"rank_tier":{"type":"number","description":"rank_tier"},"leaderboard_rank":{"type":"number","description":"leaderboard_rank"},"mmr_estimate":{"type":"object","properties":{"estimate":{"type":"number","description":"estimate"}},"description":"mmr_estimate"},"profile":{"type":"object","properties":{"account_id":{"type":"integer","description":"account_id"},"personaname":{"type":"string","description":"personaname"},"name":{"type":"string","description":"name"},"plus":{"type":"boolean","description":"Boolean indicating status of current Dota Plus subscription"},"cheese":{"type":"integer","description":"cheese"},"steamid":{"type":"string","description":"steamid"},"avatar":{"type":"string","description":"avatar"},"avatarmedium":{"type":"string","description":"avatarmedium"},"avatarfull":{"type":"string","description":"avatarfull"},"profileurl":{"type":"string","description":"profileurl"},"last_login":{"type":"string","description":"last_login"},"loccountrycode":{"type":"string","description":"loccountrycode"},"is_contributor":{"type":"boolean","description":"Boolean indicating if the user contributed to the development of OpenDota","default":false},"is_subscriber":{"type":"boolean","description":"Boolean indicating if the user subscribed to OpenDota","default":false}},"description":"profile"}}}}}}}}},"/players/{account_id}/wl":{"get":{"tags":["players"],"summary":"GET /players/{account_id}/wl","description":"Win/Loss count","parameters":[{"name":"account_id","in":"path","description":"Steam32 account ID","required":true,"schema":{"type":"integer"}},{"name":"limit","in":"query","description":"Number of matches to limit to","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of matches to offset start by","schema":{"type":"integer"}},{"name":"win","in":"query","description":"Whether the player won","schema":{"type":"integer"}},{"name":"patch","in":"query","description":"Patch ID","schema":{"type":"integer"}},{"name":"game_mode","in":"query","description":"Game Mode ID","schema":{"type":"integer"}},{"name":"lobby_type","in":"query","description":"Lobby type ID","schema":{"type":"integer"}},{"name":"region","in":"query","description":"Region ID","schema":{"type":"integer"}},{"name":"date","in":"query","description":"Days previous","schema":{"type":"integer"}},{"name":"lane_role","in":"query","description":"Lane Role ID","schema":{"type":"integer"}},{"name":"hero_id","in":"query","description":"Hero ID","schema":{"type":"integer"}},{"name":"is_radiant","in":"query","description":"Whether the player was radiant","schema":{"type":"integer"}},{"name":"included_account_id","in":"query","description":"Account IDs in the match (array)","schema":{"type":"integer"}},{"name":"excluded_account_id","in":"query","description":"Account IDs not in the match (array)","schema":{"type":"integer"}},{"name":"with_hero_id","in":"query","description":"Hero IDs on the player's team (array)","schema":{"type":"integer"}},{"name":"against_hero_id","in":"query","description":"Hero IDs against the player's team (array)","schema":{"type":"integer"}},{"name":"significant","in":"query","description":"Whether the match was significant for aggregation purposes. Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches.","schema":{"type":"integer"}},{"name":"having","in":"query","description":"The minimum number of games played, for filtering hero stats","schema":{"type":"integer"}},{"name":"sort","in":"query","description":"The field to return matches sorted by in descending order","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"PlayerWinLossResponse","type":"object","properties":{"win":{"type":"integer","description":"Number of wins"},"lose":{"type":"integer","description":"Number of loses"}}}}}}}}},"/players/{account_id}/recentMatches":{"get":{"tags":["players"],"summary":"GET /players/{account_id}/recentMatches","description":"Recent matches played","parameters":[{"name":"account_id","in":"path","description":"Steam32 account ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"PlayerRecentMatchesResponse","type":"object","properties":{"match_id":{"type":"integer","description":"Match ID"},"player_slot":{"type":"integer","description":"Which slot the player is in. 0-127 are Radiant, 128-255 are Dire"},"radiant_win":{"type":"boolean","description":"Boolean indicating whether Radiant won the match"},"duration":{"type":"integer","description":"Duration of the game in seconds"},"game_mode":{"type":"integer","description":"Integer corresponding to game mode played. List of constants can be found here: https://github.com/odota/dotaconstants/blob/master/json/game_mode.json"},"lobby_type":{"type":"integer","description":"Integer corresponding to lobby type of match. List of constants can be found here: https://github.com/odota/dotaconstants/blob/master/json/lobby_type.json"},"hero_id":{"type":"integer","description":"The ID value of the hero played"},"start_time":{"type":"integer","description":"Start time of the match in seconds elapsed since 1970"},"version":{"type":"integer","description":"version"},"kills":{"type":"integer","description":"Total kills the player had at the end of the match"},"deaths":{"type":"integer","description":"Total deaths the player had at the end of the match"},"assists":{"type":"integer","description":"Total assists the player had at the end of the match"},"skill":{"type":"integer","description":"Skill bracket assigned by Valve (Normal, High, Very High). If the skill is unknown, will return null."},"average_rank":{"type":"integer","description":"Average rank of players with public match data"},"xp_per_min":{"type":"integer","description":"Experience Per Minute obtained by the player"},"gold_per_min":{"type":"integer","description":"Average gold per minute of the player"},"hero_damage":{"type":"integer","description":"Total hero damage to enemy heroes"},"hero_healing":{"type":"integer","description":"Total healing of ally heroes"},"last_hits":{"type":"integer","description":"Total last hits the player had at the end of the match"},"lane":{"type":"integer","description":"Integer corresponding to which lane the player laned in for the match"},"lane_role":{"type":"integer","description":"lane_role"},"is_roaming":{"type":"boolean","description":"Boolean describing whether or not the player roamed"},"cluster":{"type":"integer","description":"cluster"},"leaver_status":{"type":"integer","description":"Integer describing whether or not the player left the game. 0: didn't leave. 1: left safely. 2+: Abandoned"},"party_size":{"type":"integer","description":"Size of the players party. If not in a party, will return 1."}},"description":"match"}}}}}}}},"/players/{account_id}/matches":{"get":{"tags":["players"],"summary":"GET /players/{account_id}/matches","description":"Matches played","parameters":[{"name":"account_id","in":"path","description":"Steam32 account ID","required":true,"schema":{"type":"integer"}},{"name":"limit","in":"query","description":"Number of matches to limit to","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of matches to offset start by","schema":{"type":"integer"}},{"name":"win","in":"query","description":"Whether the player won","schema":{"type":"integer"}},{"name":"patch","in":"query","description":"Patch ID","schema":{"type":"integer"}},{"name":"game_mode","in":"query","description":"Game Mode ID","schema":{"type":"integer"}},{"name":"lobby_type","in":"query","description":"Lobby type ID","schema":{"type":"integer"}},{"name":"region","in":"query","description":"Region ID","schema":{"type":"integer"}},{"name":"date","in":"query","description":"Days previous","schema":{"type":"integer"}},{"name":"lane_role","in":"query","description":"Lane Role ID","schema":{"type":"integer"}},{"name":"hero_id","in":"query","description":"Hero ID","schema":{"type":"integer"}},{"name":"is_radiant","in":"query","description":"Whether the player was radiant","schema":{"type":"integer"}},{"name":"included_account_id","in":"query","description":"Account IDs in the match (array)","schema":{"type":"integer"}},{"name":"excluded_account_id","in":"query","description":"Account IDs not in the match (array)","schema":{"type":"integer"}},{"name":"with_hero_id","in":"query","description":"Hero IDs on the player's team (array)","schema":{"type":"integer"}},{"name":"against_hero_id","in":"query","description":"Hero IDs against the player's team (array)","schema":{"type":"integer"}},{"name":"significant","in":"query","description":"Whether the match was significant for aggregation purposes. Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches.","schema":{"type":"integer"}},{"name":"having","in":"query","description":"The minimum number of games played, for filtering hero stats","schema":{"type":"integer"}},{"name":"sort","in":"query","description":"The field to return matches sorted by in descending order","schema":{"type":"string"}},{"name":"project","in":"query","description":"Fields to project (array)","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"PlayerMatchesResponse","type":"object","properties":{"match_id":{"type":"integer","description":"Match ID"},"player_slot":{"type":"integer","description":"Which slot the player is in. 0-127 are Radiant, 128-255 are Dire"},"radiant_win":{"type":"boolean","description":"Boolean indicating whether Radiant won the match"},"duration":{"type":"integer","description":"Duration of the game in seconds"},"game_mode":{"type":"integer","description":"Integer corresponding to game mode played. List of constants can be found here: https://github.com/odota/dotaconstants/blob/master/json/game_mode.json"},"lobby_type":{"type":"integer","description":"Integer corresponding to lobby type of match. List of constants can be found here: https://github.com/odota/dotaconstants/blob/master/json/lobby_type.json"},"hero_id":{"type":"integer","description":"The ID value of the hero played"},"start_time":{"type":"integer","description":"Time the game started in seconds since 1970"},"version":{"type":"integer","description":"version"},"kills":{"type":"integer","description":"Total kills the player had at the end of the game"},"deaths":{"type":"integer","description":"Total deaths the player had at the end of the game"},"assists":{"type":"integer","description":"Total assists the player had at the end of the game"},"skill":{"type":"integer","description":"Skill bracket assigned by Valve (Normal, High, Very High)"},"average_rank":{"type":"integer","description":"Average rank of players with public match data"},"leaver_status":{"type":"integer","description":"Integer describing whether or not the player left the game. 0: didn't leave. 1: left safely. 2+: Abandoned"},"party_size":{"type":"integer","description":"Size of the player's party"}},"description":"Object containing information on the match"}}}}}}}},"/players/{account_id}/heroes":{"get":{"tags":["players"],"summary":"GET /players/{account_id}/heroes","description":"Heroes played","parameters":[{"name":"account_id","in":"path","description":"Steam32 account ID","required":true,"schema":{"type":"integer"}},{"name":"limit","in":"query","description":"Number of matches to limit to","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of matches to offset start by","schema":{"type":"integer"}},{"name":"win","in":"query","description":"Whether the player won","schema":{"type":"integer"}},{"name":"patch","in":"query","description":"Patch ID","schema":{"type":"integer"}},{"name":"game_mode","in":"query","description":"Game Mode ID","schema":{"type":"integer"}},{"name":"lobby_type","in":"query","description":"Lobby type ID","schema":{"type":"integer"}},{"name":"region","in":"query","description":"Region ID","schema":{"type":"integer"}},{"name":"date","in":"query","description":"Days previous","schema":{"type":"integer"}},{"name":"lane_role","in":"query","description":"Lane Role ID","schema":{"type":"integer"}},{"name":"hero_id","in":"query","description":"Hero ID","schema":{"type":"integer"}},{"name":"is_radiant","in":"query","description":"Whether the player was radiant","schema":{"type":"integer"}},{"name":"included_account_id","in":"query","description":"Account IDs in the match (array)","schema":{"type":"integer"}},{"name":"excluded_account_id","in":"query","description":"Account IDs not in the match (array)","schema":{"type":"integer"}},{"name":"with_hero_id","in":"query","description":"Hero IDs on the player's team (array)","schema":{"type":"integer"}},{"name":"against_hero_id","in":"query","description":"Hero IDs against the player's team (array)","schema":{"type":"integer"}},{"name":"significant","in":"query","description":"Whether the match was significant for aggregation purposes. Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches.","schema":{"type":"integer"}},{"name":"having","in":"query","description":"The minimum number of games played, for filtering hero stats","schema":{"type":"integer"}},{"name":"sort","in":"query","description":"The field to return matches sorted by in descending order","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"PlayerHeroesResponse","type":"object","properties":{"hero_id":{"type":"string","description":"The ID value of the hero played"},"last_played":{"type":"integer","description":"last_played"},"games":{"type":"integer","description":"games"},"win":{"type":"integer","description":"win"},"with_games":{"type":"integer","description":"with_games"},"with_win":{"type":"integer","description":"with_win"},"against_games":{"type":"integer","description":"against_games"},"against_win":{"type":"integer","description":"against_win"}},"description":"hero"}}}}}}}},"/players/{account_id}/peers":{"get":{"tags":["players"],"summary":"GET /players/{account_id}/peers","description":"Players played with","parameters":[{"name":"account_id","in":"path","description":"Steam32 account ID","required":true,"schema":{"type":"integer"}},{"name":"limit","in":"query","description":"Number of matches to limit to","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of matches to offset start by","schema":{"type":"integer"}},{"name":"win","in":"query","description":"Whether the player won","schema":{"type":"integer"}},{"name":"patch","in":"query","description":"Patch ID","schema":{"type":"integer"}},{"name":"game_mode","in":"query","description":"Game Mode ID","schema":{"type":"integer"}},{"name":"lobby_type","in":"query","description":"Lobby type ID","schema":{"type":"integer"}},{"name":"region","in":"query","description":"Region ID","schema":{"type":"integer"}},{"name":"date","in":"query","description":"Days previous","schema":{"type":"integer"}},{"name":"lane_role","in":"query","description":"Lane Role ID","schema":{"type":"integer"}},{"name":"hero_id","in":"query","description":"Hero ID","schema":{"type":"integer"}},{"name":"is_radiant","in":"query","description":"Whether the player was radiant","schema":{"type":"integer"}},{"name":"included_account_id","in":"query","description":"Account IDs in the match (array)","schema":{"type":"integer"}},{"name":"excluded_account_id","in":"query","description":"Account IDs not in the match (array)","schema":{"type":"integer"}},{"name":"with_hero_id","in":"query","description":"Hero IDs on the player's team (array)","schema":{"type":"integer"}},{"name":"against_hero_id","in":"query","description":"Hero IDs against the player's team (array)","schema":{"type":"integer"}},{"name":"significant","in":"query","description":"Whether the match was significant for aggregation purposes. Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches.","schema":{"type":"integer"}},{"name":"having","in":"query","description":"The minimum number of games played, for filtering hero stats","schema":{"type":"integer"}},{"name":"sort","in":"query","description":"The field to return matches sorted by in descending order","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"PlayerPeersResponse","type":"object","properties":{"account_id":{"type":"integer","description":"account_id"},"last_played":{"type":"integer","description":"last_played"},"win":{"type":"integer","description":"win"},"games":{"type":"integer","description":"games"},"with_win":{"type":"integer","description":"with_win"},"with_games":{"type":"integer","description":"with_games"},"against_win":{"type":"integer","description":"against_win"},"against_games":{"type":"integer","description":"against_games"},"with_gpm_sum":{"type":"integer","description":"with_gpm_sum"},"with_xpm_sum":{"type":"integer","description":"with_xpm_sum"},"personaname":{"type":"string","description":"personaname"},"name":{"type":"string","description":"name"},"is_contributor":{"type":"boolean","description":"is_contributor"},"is_subscriber":{"type":"boolean","description":"is_subscriber"},"last_login":{"type":"string","description":"last_login"},"avatar":{"type":"string","description":"avatar"},"avatarfull":{"type":"string","description":"avatarfull"}}}}}}}}}},"/players/{account_id}/pros":{"get":{"tags":["players"],"summary":"GET /players/{account_id}/pros","description":"Pro players played with","parameters":[{"name":"account_id","in":"path","description":"Steam32 account ID","required":true,"schema":{"type":"integer"}},{"name":"limit","in":"query","description":"Number of matches to limit to","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of matches to offset start by","schema":{"type":"integer"}},{"name":"win","in":"query","description":"Whether the player won","schema":{"type":"integer"}},{"name":"patch","in":"query","description":"Patch ID","schema":{"type":"integer"}},{"name":"game_mode","in":"query","description":"Game Mode ID","schema":{"type":"integer"}},{"name":"lobby_type","in":"query","description":"Lobby type ID","schema":{"type":"integer"}},{"name":"region","in":"query","description":"Region ID","schema":{"type":"integer"}},{"name":"date","in":"query","description":"Days previous","schema":{"type":"integer"}},{"name":"lane_role","in":"query","description":"Lane Role ID","schema":{"type":"integer"}},{"name":"hero_id","in":"query","description":"Hero ID","schema":{"type":"integer"}},{"name":"is_radiant","in":"query","description":"Whether the player was radiant","schema":{"type":"integer"}},{"name":"included_account_id","in":"query","description":"Account IDs in the match (array)","schema":{"type":"integer"}},{"name":"excluded_account_id","in":"query","description":"Account IDs not in the match (array)","schema":{"type":"integer"}},{"name":"with_hero_id","in":"query","description":"Hero IDs on the player's team (array)","schema":{"type":"integer"}},{"name":"against_hero_id","in":"query","description":"Hero IDs against the player's team (array)","schema":{"type":"integer"}},{"name":"significant","in":"query","description":"Whether the match was significant for aggregation purposes. Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches.","schema":{"type":"integer"}},{"name":"having","in":"query","description":"The minimum number of games played, for filtering hero stats","schema":{"type":"integer"}},{"name":"sort","in":"query","description":"The field to return matches sorted by in descending order","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"PlayerProsResponse","type":"object","properties":{"account_id":{"type":"integer","description":"account_id"},"name":{"type":"string","description":"name"},"country_code":{"type":"string","description":"country_code"},"fantasy_role":{"type":"integer","description":"fantasy_role"},"team_id":{"type":"integer","description":"team_id"},"team_name":{"type":"string","description":"team_name"},"team_tag":{"type":"string","description":"team_tag"},"is_locked":{"type":"boolean","description":"is_locked"},"is_pro":{"type":"boolean","description":"is_pro"},"locked_until":{"type":"integer","description":"locked_until"},"steamid":{"type":"string","description":"steamid"},"avatar":{"type":"string","description":"avatar"},"avatarmedium":{"type":"string","description":"avatarmedium"},"avatarfull":{"type":"string","description":"avatarfull"},"profileurl":{"type":"string","description":"profileurl"},"last_login":{"type":"string","description":"last_login","format":"date-time"},"full_history_time":{"type":"string","description":"full_history_time","format":"date-time"},"cheese":{"type":"integer","description":"cheese"},"fh_unavailable":{"type":"boolean","description":"fh_unavailable"},"loccountrycode":{"type":"string","description":"loccountrycode"},"last_played":{"type":"integer","description":"last_played"},"win":{"type":"integer","description":"win"},"games":{"type":"integer","description":"games"},"with_win":{"type":"integer","description":"with_win"},"with_games":{"type":"integer","description":"with_games"},"against_win":{"type":"integer","description":"against_win"},"against_games":{"type":"integer","description":"against_games"},"with_gpm_sum":{"type":"integer","description":"with_gpm_sum"},"with_xpm_sum":{"type":"integer","description":"with_xpm_sum"}}}}}}}}}},"/players/{account_id}/totals":{"get":{"tags":["players"],"summary":"GET /players/{account_id}/totals","description":"Totals in stats","parameters":[{"name":"account_id","in":"path","description":"Steam32 account ID","required":true,"schema":{"type":"integer"}},{"name":"limit","in":"query","description":"Number of matches to limit to","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of matches to offset start by","schema":{"type":"integer"}},{"name":"win","in":"query","description":"Whether the player won","schema":{"type":"integer"}},{"name":"patch","in":"query","description":"Patch ID","schema":{"type":"integer"}},{"name":"game_mode","in":"query","description":"Game Mode ID","schema":{"type":"integer"}},{"name":"lobby_type","in":"query","description":"Lobby type ID","schema":{"type":"integer"}},{"name":"region","in":"query","description":"Region ID","schema":{"type":"integer"}},{"name":"date","in":"query","description":"Days previous","schema":{"type":"integer"}},{"name":"lane_role","in":"query","description":"Lane Role ID","schema":{"type":"integer"}},{"name":"hero_id","in":"query","description":"Hero ID","schema":{"type":"integer"}},{"name":"is_radiant","in":"query","description":"Whether the player was radiant","schema":{"type":"integer"}},{"name":"included_account_id","in":"query","description":"Account IDs in the match (array)","schema":{"type":"integer"}},{"name":"excluded_account_id","in":"query","description":"Account IDs not in the match (array)","schema":{"type":"integer"}},{"name":"with_hero_id","in":"query","description":"Hero IDs on the player's team (array)","schema":{"type":"integer"}},{"name":"against_hero_id","in":"query","description":"Hero IDs against the player's team (array)","schema":{"type":"integer"}},{"name":"significant","in":"query","description":"Whether the match was significant for aggregation purposes. Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches.","schema":{"type":"integer"}},{"name":"having","in":"query","description":"The minimum number of games played, for filtering hero stats","schema":{"type":"integer"}},{"name":"sort","in":"query","description":"The field to return matches sorted by in descending order","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"PlayerTotalsResponse","type":"object","properties":{"field":{"type":"string","description":"field"},"n":{"type":"integer","description":"number"},"sum":{"type":"integer","description":"sum"}}}}}}}}}},"/players/{account_id}/counts":{"get":{"tags":["players"],"summary":"GET /players/{account_id}/counts","description":"Counts in categories","parameters":[{"name":"account_id","in":"path","description":"Steam32 account ID","required":true,"schema":{"type":"integer"}},{"name":"limit","in":"query","description":"Number of matches to limit to","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of matches to offset start by","schema":{"type":"integer"}},{"name":"win","in":"query","description":"Whether the player won","schema":{"type":"integer"}},{"name":"patch","in":"query","description":"Patch ID","schema":{"type":"integer"}},{"name":"game_mode","in":"query","description":"Game Mode ID","schema":{"type":"integer"}},{"name":"lobby_type","in":"query","description":"Lobby type ID","schema":{"type":"integer"}},{"name":"region","in":"query","description":"Region ID","schema":{"type":"integer"}},{"name":"date","in":"query","description":"Days previous","schema":{"type":"integer"}},{"name":"lane_role","in":"query","description":"Lane Role ID","schema":{"type":"integer"}},{"name":"hero_id","in":"query","description":"Hero ID","schema":{"type":"integer"}},{"name":"is_radiant","in":"query","description":"Whether the player was radiant","schema":{"type":"integer"}},{"name":"included_account_id","in":"query","description":"Account IDs in the match (array)","schema":{"type":"integer"}},{"name":"excluded_account_id","in":"query","description":"Account IDs not in the match (array)","schema":{"type":"integer"}},{"name":"with_hero_id","in":"query","description":"Hero IDs on the player's team (array)","schema":{"type":"integer"}},{"name":"against_hero_id","in":"query","description":"Hero IDs against the player's team (array)","schema":{"type":"integer"}},{"name":"significant","in":"query","description":"Whether the match was significant for aggregation purposes. Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches.","schema":{"type":"integer"}},{"name":"having","in":"query","description":"The minimum number of games played, for filtering hero stats","schema":{"type":"integer"}},{"name":"sort","in":"query","description":"The field to return matches sorted by in descending order","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"PlayerCountsResponse","type":"object","properties":{"leaver_status":{"type":"object","properties":{},"description":"Integer describing whether or not the player left the game. 0: didn't leave. 1: left safely. 2+: Abandoned"},"game_mode":{"type":"object","properties":{},"description":"Integer corresponding to game mode played. List of constants can be found here: https://github.com/odota/dotaconstants/blob/master/json/game_mode.json"},"lobby_type":{"type":"object","properties":{},"description":"Integer corresponding to lobby type of match. List of constants can be found here: https://github.com/odota/dotaconstants/blob/master/json/lobby_type.json"},"lane_role":{"type":"object","properties":{},"description":"lane_role"},"region":{"type":"object","properties":{},"description":"Integer corresponding to the region the game was played on"},"patch":{"type":"object","properties":{},"description":"patch"}}}}}}}}},"/players/{account_id}/histograms/{field}":{"get":{"tags":["players"],"summary":"GET /players/{account_id}/histograms","description":"Distribution of matches in a single stat","parameters":[{"name":"account_id","in":"path","description":"Steam32 account ID","required":true,"schema":{"type":"integer"}},{"name":"limit","in":"query","description":"Number of matches to limit to","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of matches to offset start by","schema":{"type":"integer"}},{"name":"win","in":"query","description":"Whether the player won","schema":{"type":"integer"}},{"name":"patch","in":"query","description":"Patch ID","schema":{"type":"integer"}},{"name":"game_mode","in":"query","description":"Game Mode ID","schema":{"type":"integer"}},{"name":"lobby_type","in":"query","description":"Lobby type ID","schema":{"type":"integer"}},{"name":"region","in":"query","description":"Region ID","schema":{"type":"integer"}},{"name":"date","in":"query","description":"Days previous","schema":{"type":"integer"}},{"name":"lane_role","in":"query","description":"Lane Role ID","schema":{"type":"integer"}},{"name":"hero_id","in":"query","description":"Hero ID","schema":{"type":"integer"}},{"name":"is_radiant","in":"query","description":"Whether the player was radiant","schema":{"type":"integer"}},{"name":"included_account_id","in":"query","description":"Account IDs in the match (array)","schema":{"type":"integer"}},{"name":"excluded_account_id","in":"query","description":"Account IDs not in the match (array)","schema":{"type":"integer"}},{"name":"with_hero_id","in":"query","description":"Hero IDs on the player's team (array)","schema":{"type":"integer"}},{"name":"against_hero_id","in":"query","description":"Hero IDs against the player's team (array)","schema":{"type":"integer"}},{"name":"significant","in":"query","description":"Whether the match was significant for aggregation purposes. Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches.","schema":{"type":"integer"}},{"name":"having","in":"query","description":"The minimum number of games played, for filtering hero stats","schema":{"type":"integer"}},{"name":"sort","in":"query","description":"The field to return matches sorted by in descending order","schema":{"type":"string"}},{"name":"field","in":"path","description":"Field to aggregate on","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"PlayerHistogramsResponse","type":"object","properties":{}}}}}}}}},"/players/{account_id}/wardmap":{"get":{"tags":["players"],"summary":"GET /players/{account_id}/wardmap","description":"Wards placed in matches played","parameters":[{"name":"account_id","in":"path","description":"Steam32 account ID","required":true,"schema":{"type":"integer"}},{"name":"limit","in":"query","description":"Number of matches to limit to","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of matches to offset start by","schema":{"type":"integer"}},{"name":"win","in":"query","description":"Whether the player won","schema":{"type":"integer"}},{"name":"patch","in":"query","description":"Patch ID","schema":{"type":"integer"}},{"name":"game_mode","in":"query","description":"Game Mode ID","schema":{"type":"integer"}},{"name":"lobby_type","in":"query","description":"Lobby type ID","schema":{"type":"integer"}},{"name":"region","in":"query","description":"Region ID","schema":{"type":"integer"}},{"name":"date","in":"query","description":"Days previous","schema":{"type":"integer"}},{"name":"lane_role","in":"query","description":"Lane Role ID","schema":{"type":"integer"}},{"name":"hero_id","in":"query","description":"Hero ID","schema":{"type":"integer"}},{"name":"is_radiant","in":"query","description":"Whether the player was radiant","schema":{"type":"integer"}},{"name":"included_account_id","in":"query","description":"Account IDs in the match (array)","schema":{"type":"integer"}},{"name":"excluded_account_id","in":"query","description":"Account IDs not in the match (array)","schema":{"type":"integer"}},{"name":"with_hero_id","in":"query","description":"Hero IDs on the player's team (array)","schema":{"type":"integer"}},{"name":"against_hero_id","in":"query","description":"Hero IDs against the player's team (array)","schema":{"type":"integer"}},{"name":"significant","in":"query","description":"Whether the match was significant for aggregation purposes. Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches.","schema":{"type":"integer"}},{"name":"having","in":"query","description":"The minimum number of games played, for filtering hero stats","schema":{"type":"integer"}},{"name":"sort","in":"query","description":"The field to return matches sorted by in descending order","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"PlayerWardMapResponse","type":"object","properties":{"obs":{"type":"object","properties":{},"description":"obs"},"sen":{"type":"object","properties":{},"description":"sen"}}}}}}}}},"/players/{account_id}/wordcloud":{"get":{"tags":["players"],"summary":"GET /players/{account_id}/wordcloud","description":"Words said/read in matches played","parameters":[{"name":"account_id","in":"path","description":"Steam32 account ID","required":true,"schema":{"type":"integer"}},{"name":"limit","in":"query","description":"Number of matches to limit to","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of matches to offset start by","schema":{"type":"integer"}},{"name":"win","in":"query","description":"Whether the player won","schema":{"type":"integer"}},{"name":"patch","in":"query","description":"Patch ID","schema":{"type":"integer"}},{"name":"game_mode","in":"query","description":"Game Mode ID","schema":{"type":"integer"}},{"name":"lobby_type","in":"query","description":"Lobby type ID","schema":{"type":"integer"}},{"name":"region","in":"query","description":"Region ID","schema":{"type":"integer"}},{"name":"date","in":"query","description":"Days previous","schema":{"type":"integer"}},{"name":"lane_role","in":"query","description":"Lane Role ID","schema":{"type":"integer"}},{"name":"hero_id","in":"query","description":"Hero ID","schema":{"type":"integer"}},{"name":"is_radiant","in":"query","description":"Whether the player was radiant","schema":{"type":"integer"}},{"name":"included_account_id","in":"query","description":"Account IDs in the match (array)","schema":{"type":"integer"}},{"name":"excluded_account_id","in":"query","description":"Account IDs not in the match (array)","schema":{"type":"integer"}},{"name":"with_hero_id","in":"query","description":"Hero IDs on the player's team (array)","schema":{"type":"integer"}},{"name":"against_hero_id","in":"query","description":"Hero IDs against the player's team (array)","schema":{"type":"integer"}},{"name":"significant","in":"query","description":"Whether the match was significant for aggregation purposes. Defaults to 1 (true), set this to 0 to return data for non-standard modes/matches.","schema":{"type":"integer"}},{"name":"having","in":"query","description":"The minimum number of games played, for filtering hero stats","schema":{"type":"integer"}},{"name":"sort","in":"query","description":"The field to return matches sorted by in descending order","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"PlayerWordCloudResponse","type":"object","properties":{"my_word_counts":{"type":"object","properties":{},"description":"my_word_counts"},"all_word_counts":{"type":"object","properties":{},"description":"all_word_counts"}}}}}}}}},"/players/{account_id}/ratings":{"get":{"tags":["players"],"summary":"GET /players/{account_id}/ratings","description":"Player rating history","parameters":[{"name":"account_id","in":"path","description":"Steam32 account ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"PlayerRatingsResponse","type":"object","properties":{"account_id":{"type":"integer","description":"account_id"},"match_id":{"type":"integer","description":"match_id"},"solo_competitive_rank":{"type":"integer","description":"solo_competitive_rank"},"competitive_rank":{"type":"integer","description":"competitive_rank"},"time":{"type":"integer","description":"time"}}}}}}}}}},"/players/{account_id}/rankings":{"get":{"tags":["players"],"summary":"GET /players/{account_id}/rankings","description":"Player hero rankings","parameters":[{"name":"account_id","in":"path","description":"Steam32 account ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"PlayerRankingsResponse","type":"object","properties":{"hero_id":{"type":"string","description":"The ID value of the hero played"},"score":{"type":"number","description":"hero_score"},"percent_rank":{"type":"number","description":"percent_rank"},"card":{"type":"integer","description":"numeric_rank"}}}}}}}}}},"/players/{account_id}/refresh":{"post":{"tags":["players"],"summary":"POST /players/{account_id}/refresh","description":"Refresh player match history","parameters":[{"name":"account_id","in":"path","description":"Steam32 account ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"PlayerRefreshResponse","type":"object"}}}}}}},"/proPlayers":{"get":{"tags":["pro players"],"summary":"GET /proPlayers","description":"Get list of pro players","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"PlayerObjectResponse","type":"object","properties":{"account_id":{"type":"integer","description":"Player's account identifier"},"steamid":{"type":"string","description":"Player's steam identifier"},"avatar":{"type":"string","description":"Steam picture URL (small picture)"},"avatarmedium":{"type":"string","description":"Steam picture URL (medium picture)"},"avatarfull":{"type":"string","description":"Steam picture URL (full picture)"},"profileurl":{"type":"string","description":"Steam profile URL"},"personaname":{"type":"string","description":"Player's Steam name"},"last_login":{"type":"string","description":"Date and time of last login to OpenDota","format":"date-time"},"full_history_time":{"type":"string","description":"Date and time of last request to refresh player's match history","format":"date-time"},"cheese":{"type":"integer","description":"Amount of dollars the player has donated to OpenDota"},"fh_unavailable":{"type":"boolean","description":"Whether the refresh of player' match history failed"},"loccountrycode":{"type":"string","description":"Player's country identifier, e.g. US"},"name":{"type":"string","description":"Verified player name, e.g. 'Miracle-'"},"country_code":{"type":"string","description":"Player's country code"},"fantasy_role":{"type":"integer","description":"Player's ingame role (core: 1 or support: 2)"},"team_id":{"type":"integer","description":"Player's team identifier"},"team_name":{"type":"string","description":"Player's team name, e.g. 'Evil Geniuses'"},"team_tag":{"type":"string","description":"Player's team shorthand tag, e.g. 'EG'"},"is_locked":{"type":"boolean","description":"Whether the roster lock is active"},"is_pro":{"type":"boolean","description":"Whether the player is professional or not"},"locked_until":{"type":"integer","description":"When the roster lock will end"}}}}}}}}}},"/proMatches":{"get":{"tags":["pro matches"],"summary":"GET /proMatches","description":"Get list of pro matches","parameters":[{"name":"less_than_match_id","in":"query","description":"Get matches with a match ID lower than this value","schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"MatchObjectResponse","type":"object","properties":{"match_id":{"type":"integer","description":"Used to identify individual matches, e.g. 3703866531"},"duration":{"type":"integer","description":"Length of the match"},"start_time":{"type":"integer","description":"Unix timestamp of when the match began"},"radiant_team_id":{"type":"integer","description":"The Radiant's team_id"},"radiant_name":{"type":"string","description":"The Radiant's team name"},"dire_team_id":{"type":"integer","description":"The Dire's team_id"},"dire_name":{"type":"string","description":"The Dire's team name"},"leagueid":{"type":"integer","description":"Identifier for the league the match took place in"},"league_name":{"type":"string","description":"Name of league the match took place in"},"series_id":{"type":"integer","description":"Identifier for the series of the match"},"series_type":{"type":"integer","description":"Type of series the match was"},"radiant_score":{"type":"integer","description":"Number of kills the Radiant team had when the match ended"},"dire_score":{"type":"integer","description":"Number of kills the Dire team had when the match ended"},"radiant_win":{"type":"boolean","description":"Whether or not the Radiant won the match"},"radiant":{"type":"boolean","description":"Whether the team/player/hero was on Radiant"}}}}}}}}}},"/publicMatches":{"get":{"tags":["public matches"],"summary":"GET /publicMatches","description":"Get list of randomly sampled public matches","parameters":[{"name":"mmr_ascending","in":"query","description":"Order by MMR ascending","schema":{"type":"integer"}},{"name":"mmr_descending","in":"query","description":"Order by MMR descending","schema":{"type":"integer"}},{"name":"less_than_match_id","in":"query","description":"Get matches with a match ID lower than this value","schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"PublicMatchesResponse","type":"object","properties":{"match_id":{"type":"integer","description":"match_id"},"match_seq_num":{"type":"integer","description":"match_seq_num"},"radiant_win":{"type":"boolean","description":"Boolean indicating whether Radiant won the match"},"start_time":{"type":"integer","description":"start_time"},"duration":{"type":"integer","description":"Duration of the game in seconds"},"radiant_team":{"type":"string","description":"radiant_team"},"dire_team":{"type":"string","description":"dire_team"}}}}}}}}}},"/parsedMatches":{"get":{"tags":["parsed matches"],"summary":"GET /parsedMatches","description":"Get list of parsed match IDs","parameters":[{"name":"less_than_match_id","in":"query","description":"Get matches with a match ID lower than this value","schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"ParsedMatchesResponse","type":"object","properties":{"match_id":{"type":"integer","description":"match_id"}}}}}}}}}},"/explorer":{"get":{"tags":["explorer"],"summary":"GET /explorer","description":"Submit arbitrary SQL queries to the database","parameters":[{"name":"sql","in":"query","description":"The PostgreSQL query as percent-encoded string.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"ExplorerResponse","type":"object"}}}}}}},"/metadata":{"get":{"tags":["metadata"],"summary":"GET /metadata","description":"Site metadata","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"MetadataResponse","type":"object","properties":{"banner":{"type":"object","properties":{},"description":"banner"}}}}}}}}},"/distributions":{"get":{"tags":["distributions"],"summary":"GET /distributions","description":"Distributions of MMR data by bracket and country","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"DistributionsResponse","type":"object","properties":{"ranks":{"type":"object","properties":{"commmand":{"type":"string","description":"command"},"rowCount":{"type":"integer","description":"rowCount"},"rows":{"type":"array","description":"rows","items":{"type":"object","properties":{"bin":{"type":"integer","description":"bin"},"bin_name":{"type":"integer","description":"bin_name"},"count":{"type":"integer","description":"count"},"cumulative_sum":{"type":"integer","description":"cumulative_sum"}}}},"fields":{"type":"array","description":"fields","items":{"type":"object","properties":{"name":{"type":"string","description":"name"},"tableID":{"type":"integer","description":"tableID"},"columnID":{"type":"integer","description":"columnID"},"dataTypeID":{"type":"integer","description":"dataTypeID"},"dataTypeSize":{"type":"integer","description":"dataTypeSize"},"dataTypeModifier":{"type":"string","description":"dataTypeModifier"},"format":{"type":"string","description":"format"}}}},"rowAsArray":{"type":"boolean","description":"rowAsArray"},"sum":{"type":"object","properties":{"count":{"type":"integer","description":"count"}},"description":"sum"}},"description":"ranks"},"mmr":{"type":"object","properties":{"commmand":{"type":"string","description":"command"},"rowCount":{"type":"integer","description":"rowCount"},"rows":{"type":"array","description":"rows","items":{"type":"object","properties":{"bin":{"type":"integer","description":"bin"},"bin_name":{"type":"integer","description":"bin_name"},"count":{"type":"integer","description":"count"},"cumulative_sum":{"type":"integer","description":"cumulative_sum"}}}},"fields":{"type":"array","description":"fields","items":{"type":"object","properties":{"name":{"type":"string","description":"name"},"tableID":{"type":"integer","description":"tableID"},"columnID":{"type":"integer","description":"columnID"},"dataTypeID":{"type":"integer","description":"dataTypeID"},"dataTypeSize":{"type":"integer","description":"dataTypeSize"},"dataTypeModifier":{"type":"string","description":"dataTypeModifier"},"format":{"type":"string","description":"format"}}}},"rowAsArray":{"type":"boolean","description":"rowAsArray"},"sum":{"type":"object","properties":{"count":{"type":"integer","description":"count"}},"description":"sum"}},"description":"mmr"},"country_mmr":{"type":"object","properties":{"commmand":{"type":"string","description":"command"},"rowCount":{"type":"integer","description":"rowCount"},"rows":{"type":"array","description":"rows","items":{"type":"object","properties":{"loccountrycode":{"type":"string","description":"loccountrycode"},"count":{"type":"integer","description":"count"},"avg":{"type":"string","description":"avg"},"common":{"type":"string","description":"common"}}}},"fields":{"type":"array","description":"fields","items":{"type":"object","properties":{"name":{"type":"string","description":"name"},"tableID":{"type":"integer","description":"tableID"},"columnID":{"type":"integer","description":"columnID"},"dataTypeID":{"type":"integer","description":"dataTypeID"},"dataTypeSize":{"type":"integer","description":"dataTypeSize"},"dataTypeModifier":{"type":"integer","description":"dataTypeModifier"},"format":{"type":"string","description":"format"}}}},"rowAsArray":{"type":"boolean","description":"rowAsArray"}},"description":"country_mmr"}}}}}}}}},"/search":{"get":{"tags":["search"],"summary":"GET /search","description":"Search players by personaname.","parameters":[{"name":"q","in":"query","description":"Search string","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"SearchResponse","type":"object","properties":{"account_id":{"type":"integer","description":"account_id"},"avatarfull":{"type":"string","description":"avatarfull"},"personaname":{"type":"string","description":"personaname"},"last_match_time":{"type":"string","description":"last_match_time. May not be present or null."},"similarity":{"type":"number","description":"similarity"}}}}}}}}}},"/rankings":{"get":{"tags":["rankings"],"summary":"GET /rankings","description":"Top players by hero","parameters":[{"name":"hero_id","in":"query","description":"Hero ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"RankingsResponse","type":"object","properties":{"hero_id":{"type":"integer","description":"The ID value of the hero played"},"rankings":{"type":"object","properties":{"account_id":{"type":"integer","description":"account_id"},"score":{"type":"string","description":"score"},"steamid":{"type":"string","description":"steamid"},"avatar":{"type":"string","description":"avatar"},"avatarmedium":{"type":"string","description":"avatarmedium"},"avatarfull":{"type":"string","description":"avatarfull"},"profileurl":{"type":"string","description":"profileurl"},"personaname":{"type":"string","description":"personaname"},"last_login":{"type":"string","description":"last_login","format":"date-time"},"full_history_time":{"type":"string","description":"full_history_time","format":"date-time"},"cheese":{"type":"integer","description":"cheese"},"fh_unavailable":{"type":"boolean","description":"fh_unavailable"},"loccountrycode":{"type":"string","description":"loccountrycode"},"rank_tier":{"type":"integer","description":"rank_tier"}},"description":"rankings"}}}}}}}}},"/benchmarks":{"get":{"tags":["benchmarks"],"summary":"GET /benchmarks","description":"Benchmarks of average stat values for a hero","parameters":[{"name":"hero_id","in":"query","description":"Hero ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"BenchmarksResponse","type":"object","properties":{"hero_id":{"type":"integer","description":"The ID value of the hero played"},"result":{"type":"object","properties":{"gold_per_min":{"type":"array","items":{"type":"object","properties":{"percentile":{"type":"number","description":"percentile"},"value":{"type":"integer","description":"value"}}}},"xp_per_min":{"type":"array","items":{"type":"object","properties":{"percentile":{"type":"number","description":"percentile"},"value":{"type":"integer","description":"value"}}}},"kills_per_min":{"type":"array","items":{"type":"object","properties":{"percentile":{"type":"number","description":"percentile"},"value":{"type":"integer","description":"value"}}}},"last_hits_per_min":{"type":"array","items":{"type":"object","properties":{"percentile":{"type":"number","description":"percentile"},"value":{"type":"integer","description":"value"}}}},"hero_damage_per_min":{"type":"array","items":{"type":"object","properties":{"percentile":{"type":"number","description":"percentile"},"value":{"type":"integer","description":"value"}}}},"hero_healing_per_min":{"type":"array","items":{"type":"object","properties":{"percentile":{"type":"number","description":"percentile"},"value":{"type":"integer","description":"value"}}}},"tower_damage":{"type":"array","items":{"type":"object","properties":{"percentile":{"type":"number","description":"percentile"},"value":{"type":"integer","description":"value"}}}}},"description":"result"}}}}}}}}},"/status":{"get":{"tags":["status"],"summary":"GET /status","description":"Get current service statistics","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"StatusResponse","type":"object"}}}}}}},"/health":{"get":{"tags":["health"],"summary":"GET /health","description":"Get service health data","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"HealthResponse","type":"object"}}}}}}},"/request/{jobId}":{"get":{"tags":["request"],"summary":"GET /request/{jobId}","description":"Get parse request state","parameters":[{"name":"jobId","in":"path","description":"The job ID to query.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"RequestJobResponse","type":"object"}}}}}}},"/request/{match_id}":{"post":{"tags":["request"],"summary":"POST /request/{match_id}","description":"Submit a new parse request","parameters":[{"name":"match_id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"RequestMatchResponse","type":"object"}}}}}}},"/findMatches":{"get":{"tags":["findMatches"],"summary":"GET /","description":"Finds recent matches by heroes played","parameters":[{"name":"teamA","in":"query","description":"Hero IDs on first team (array)","schema":{"type":"integer"}},{"name":"teamB","in":"query","description":"Hero IDs on second team (array)","schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"FindMatchesResponse","type":"object"}}}}}}},"/heroes":{"get":{"tags":["heroes"],"summary":"GET /heroes","description":"Get hero data","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"HeroObjectResponse","type":"object","properties":{"id":{"type":"integer","description":"Numeric identifier for the hero object"},"name":{"type":"string","description":"Dota hero command name, e.g. 'npc_dota_hero_antimage'"},"localized_name":{"type":"string","description":"Hero name, e.g. 'Anti-Mage'"},"primary_attr":{"type":"string","description":"Hero primary shorthand attribute name, e.g. 'agi'"},"attack_type":{"type":"string","description":"Hero attack type, either 'Melee' or 'Ranged'"},"roles":{"type":"array","items":{"type":"string","description":"A hero's role in the game"}}}}}}}}}}},"/heroStats":{"get":{"tags":["hero stats"],"summary":"GET /heroStats","description":"Get stats about hero performance in recent matches","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"HeroStatsResponse","type":"object","properties":{"id":{"type":"integer","description":"id"},"name":{"type":"string","description":"name"},"localized_name":{"type":"string","description":"localized_name"},"img":{"type":"string","description":"img"},"icon":{"type":"string","description":"icon"},"pro_win":{"type":"integer","description":"pro_win"},"pro_pick":{"type":"integer","description":"pro_pick"},"hero_id":{"type":"integer","description":"The ID value of the hero played"},"pro_ban":{"type":"integer","description":"pro_ban"},"1_pick":{"type":"integer","description":"Herald picks"},"1_win":{"type":"integer","description":"Herald wins"},"2_pick":{"type":"integer","description":"Guardian picks"},"2_win":{"type":"integer","description":"Guardian wins"},"3_pick":{"type":"integer","description":"Crusader picks"},"3_win":{"type":"integer","description":"Crusader wins"},"4_pick":{"type":"integer","description":"Archon picks"},"4_win":{"type":"integer","description":"Archon wins"},"5_pick":{"type":"integer","description":"Legend picks"},"5_win":{"type":"integer","description":"Legend wins"},"6_pick":{"type":"integer","description":"Ancient picks"},"6_win":{"type":"integer","description":"Ancient wins"},"7_pick":{"type":"integer","description":"Divine picks"},"7_win":{"type":"integer","description":"Divine wins"},"8_pick":{"type":"integer","description":"Immortal picks"},"8_win":{"type":"integer","description":"Immortal wins"},"turbo_pick":{"type":"integer","description":"Picks in Turbo mode this month"},"turbo_win":{"type":"integer","description":"Wins in Turbo mode this month"}}}}}}}}}},"/heroes/{hero_id}/matches":{"get":{"tags":["heroes"],"summary":"GET /heroes/{hero_id}/matches","description":"Get recent matches with a hero","parameters":[{"name":"hero_id","in":"path","description":"Hero ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"MatchObjectResponse","type":"object","properties":{"match_id":{"type":"integer","description":"Used to identify individual matches, e.g. 3703866531"},"duration":{"type":"integer","description":"Length of the match"},"start_time":{"type":"integer","description":"Unix timestamp of when the match began"},"radiant_team_id":{"type":"integer","description":"The Radiant's team_id"},"radiant_name":{"type":"string","description":"The Radiant's team name"},"dire_team_id":{"type":"integer","description":"The Dire's team_id"},"dire_name":{"type":"string","description":"The Dire's team name"},"leagueid":{"type":"integer","description":"Identifier for the league the match took place in"},"league_name":{"type":"string","description":"Name of league the match took place in"},"series_id":{"type":"integer","description":"Identifier for the series of the match"},"series_type":{"type":"integer","description":"Type of series the match was"},"radiant_score":{"type":"integer","description":"Number of kills the Radiant team had when the match ended"},"dire_score":{"type":"integer","description":"Number of kills the Dire team had when the match ended"},"radiant_win":{"type":"boolean","description":"Whether or not the Radiant won the match"},"radiant":{"type":"boolean","description":"Whether the team/player/hero was on Radiant"}}}}}}}}}},"/heroes/{hero_id}/matchups":{"get":{"tags":["heroes"],"summary":"GET /heroes/{hero_id}/matchups","description":"Get results against other heroes for a hero","parameters":[{"name":"hero_id","in":"path","description":"Hero ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"HeroMatchupsResponse","type":"object","properties":{"hero_id":{"type":"integer","description":"Numeric identifier for the hero object"},"games_played":{"type":"integer","description":"Number of games played"},"wins":{"type":"integer","description":"Number of games won"}}}}}}}}}},"/heroes/{hero_id}/durations":{"get":{"tags":["heroes"],"summary":"GET /heroes/{hero_id}/durations","description":"Get hero performance over a range of match durations","parameters":[{"name":"hero_id","in":"path","description":"Hero ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"HeroDurationsResponse","type":"object","properties":{"duration_bin":{"type":"string","description":"Lower bound of number of seconds the match lasted"},"games_played":{"type":"integer","description":"Number of games played"},"wins":{"type":"integer","description":"Number of wins"}}}}}}}}}},"/heroes/{hero_id}/players":{"get":{"tags":["heroes"],"summary":"GET /heroes/{hero_id}/players","description":"Get players who have played this hero","parameters":[{"name":"hero_id","in":"path","description":"Hero ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"array","items":{"title":"PlayerObjectResponse","type":"object","properties":{"account_id":{"type":"integer","description":"Player's account identifier"},"steamid":{"type":"string","description":"Player's steam identifier"},"avatar":{"type":"string","description":"Steam picture URL (small picture)"},"avatarmedium":{"type":"string","description":"Steam picture URL (medium picture)"},"avatarfull":{"type":"string","description":"Steam picture URL (full picture)"},"profileurl":{"type":"string","description":"Steam profile URL"},"personaname":{"type":"string","description":"Player's Steam name"},"last_login":{"type":"string","description":"Date and time of last login to OpenDota","format":"date-time"},"full_history_time":{"type":"string","description":"Date and time of last request to refresh player's match history","format":"date-time"},"cheese":{"type":"integer","description":"Amount of dollars the player has donated to OpenDota"},"fh_unavailable":{"type":"boolean","description":"Whether the refresh of player' match history failed"},"loccountrycode":{"type":"string","description":"Player's country identifier, e.g. US"},"name":{"type":"string","description":"Verified player name, e.g. 'Miracle-'"},"country_code":{"type":"string","description":"Player's country code"},"fantasy_role":{"type":"integer","description":"Player's ingame role (core: 1 or support: 2)"},"team_id":{"type":"integer","description":"Player's team identifier"},"team_name":{"type":"string","description":"Player's team name, e.g. 'Evil Geniuses'"},"team_tag":{"type":"string","description":"Player's team shorthand tag, e.g. 'EG'"},"is_locked":{"type":"boolean","description":"Whether the roster lock is active"},"is_pro":{"type":"boolean","description":"Whether the player is professional or not"},"locked_until":{"type":"integer","description":"When the roster lock will end"}}}}}}}}}}},"/heroes/{hero_id}/itemPopularity":{"get":{"tags":["heroes"],"summary":"GET /heroes/{hero_id}/itemPopularity","description":"Get item popularity of hero categoried by start, early, mid and late game, analyzed from professional games","parameters":[{"name":"hero_id","in":"path","description":"Hero ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"HeroItemPopularityResponse","type":"object","properties":{"start_game_items":{"type":"object","properties":{"item":{"type":"integer","description":"Number of item bought"}},"description":"Items bought before game started"},"early_game_items":{"type":"object","properties":{"item":{"type":"integer","description":"Number of item bought"}},"description":"Items bought in the first 10 min of the game, with cost at least 700"},"mid_game_items":{"type":"object","properties":{"item":{"type":"integer","description":"Number of item bought"}},"description":"Items bought between 10 and 25 min of the game, with cost at least 2000"},"late_game_items":{"type":"object","properties":{"item":{"type":"integer","description":"Number of item bought"}},"description":"Items bought at least 25 min after game started, with cost at least 4000"}}}}}}}}},"/leagues":{"get":{"tags":["leagues"],"summary":"GET /leagues","description":"Get league data","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"LeagueObjectResponse","type":"object","properties":{"leagueid":{"type":"integer","description":"leagueid"},"ticket":{"type":"string","description":"ticket"},"banner":{"type":"string","description":"banner"},"tier":{"type":"string","description":"tier"},"name":{"type":"string","description":"name"}}}}}}}}}},"/leagues/{league_id}":{"get":{"tags":["leagues"],"summary":"GET /leagues/{league_id}","description":"Get data for a league","parameters":[{"name":"league_id","in":"path","description":"League ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"LeagueObjectResponse","type":"object","properties":{"leagueid":{"type":"integer","description":"leagueid"},"ticket":{"type":"string","description":"ticket"},"banner":{"type":"string","description":"banner"},"tier":{"type":"string","description":"tier"},"name":{"type":"string","description":"name"}}}}}}}}}},"/leagues/{league_id}/matches":{"get":{"tags":["leagues"],"summary":"GET /leagues/{league_id}/matches","description":"Get matches for a team","parameters":[{"name":"league_id","in":"path","description":"League ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"MatchObjectResponse","type":"object","properties":{"match_id":{"type":"integer","description":"Used to identify individual matches, e.g. 3703866531"},"duration":{"type":"integer","description":"Length of the match"},"start_time":{"type":"integer","description":"Unix timestamp of when the match began"},"radiant_team_id":{"type":"integer","description":"The Radiant's team_id"},"radiant_name":{"type":"string","description":"The Radiant's team name"},"dire_team_id":{"type":"integer","description":"The Dire's team_id"},"dire_name":{"type":"string","description":"The Dire's team name"},"leagueid":{"type":"integer","description":"Identifier for the league the match took place in"},"league_name":{"type":"string","description":"Name of league the match took place in"},"series_id":{"type":"integer","description":"Identifier for the series of the match"},"series_type":{"type":"integer","description":"Type of series the match was"},"radiant_score":{"type":"integer","description":"Number of kills the Radiant team had when the match ended"},"dire_score":{"type":"integer","description":"Number of kills the Dire team had when the match ended"},"radiant_win":{"type":"boolean","description":"Whether or not the Radiant won the match"},"radiant":{"type":"boolean","description":"Whether the team/player/hero was on Radiant"}}}}}}}}},"/leagues/{league_id}/teams":{"get":{"tags":["leagues"],"summary":"GET /leagues/{league_id}/teams","description":"Get teams for a league","parameters":[{"name":"league_id","in":"path","description":"League ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"TeamObjectResponse","type":"object","properties":{"team_id":{"type":"integer","description":"Team's identifier"},"rating":{"type":"number","description":"The Elo rating of the team"},"wins":{"type":"integer","description":"The number of games won by this team"},"losses":{"type":"integer","description":"The number of losses by this team"},"last_match_time":{"type":"integer","description":"The Unix timestamp of the last match played by this team"},"name":{"type":"string","description":"Team name, eg. 'Newbee'"},"tag":{"type":"string","description":"The team tag/abbreviation"}}}}}}}}},"/teams":{"get":{"tags":["teams"],"summary":"GET /teams","description":"Get team data","parameters":[{"name":"page","in":"query","description":"Page number, zero indexed. Each page returns up to 1000 entries.","schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"TeamObjectResponse","type":"object","properties":{"team_id":{"type":"integer","description":"Team's identifier"},"rating":{"type":"number","description":"The Elo rating of the team"},"wins":{"type":"integer","description":"The number of games won by this team"},"losses":{"type":"integer","description":"The number of losses by this team"},"last_match_time":{"type":"integer","description":"The Unix timestamp of the last match played by this team"},"name":{"type":"string","description":"Team name, eg. 'Newbee'"},"tag":{"type":"string","description":"The team tag/abbreviation"}}}}}}}}}},"/teams/{team_id}":{"get":{"tags":["teams"],"summary":"GET /teams/{team_id}","description":"Get data for a team","parameters":[{"name":"team_id","in":"path","description":"Team ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"TeamObjectResponse","type":"object","properties":{"team_id":{"type":"integer","description":"Team's identifier"},"rating":{"type":"number","description":"The Elo rating of the team"},"wins":{"type":"integer","description":"The number of games won by this team"},"losses":{"type":"integer","description":"The number of losses by this team"},"last_match_time":{"type":"integer","description":"The Unix timestamp of the last match played by this team"},"name":{"type":"string","description":"Team name, eg. 'Newbee'"},"tag":{"type":"string","description":"The team tag/abbreviation"}}}}}}}}},"/teams/{team_id}/matches":{"get":{"tags":["teams"],"summary":"GET /teams/{team_id}/matches","description":"Get matches for a team","parameters":[{"name":"team_id","in":"path","description":"Team ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"TeamMatchObjectResponse","type":"object","properties":{"match_id":{"type":"integer","description":"Used to identify individual matches, e.g. 3703866531"},"radiant":{"type":"boolean","description":"Whether the team/player/hero was on Radiant"},"radiant_win":{"type":"boolean","description":"Whether or not the Radiant won the match"},"radiant_score":{"type":"integer","description":"Number of kills the Radiant team had when the match ended"},"dire_score":{"type":"integer","description":"Number of kills the Dire team had when the match ended"},"duration":{"type":"integer","description":"Length of the match"},"start_time":{"type":"integer","description":"Unix timestamp of when the match began"},"leagueid":{"type":"integer","description":"Identifier for the league the match took place in"},"league_name":{"type":"string","description":"Name of league the match took place in"},"cluster":{"type":"integer","description":"cluster"},"opposing_team_id":{"type":"integer","description":"Opposing team identifier"},"opposing_team_name":{"type":"string","description":"Opposing team name, e.g. 'Evil Geniuses'"},"opposing_team_logo":{"type":"string","description":"Opposing team logo url"}}}}}}}}},"/teams/{team_id}/players":{"get":{"tags":["teams"],"summary":"GET /teams/{team_id}/players","description":"Get players who have played for a team","parameters":[{"name":"team_id","in":"path","description":"Team ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"TeamPlayersResponse","type":"object","properties":{"account_id":{"type":"string","description":"The player account ID"},"name":{"type":"string","description":"The player name"},"games_played":{"type":"integer","description":"Number of games played"},"wins":{"type":"integer","description":"Number of wins"},"is_current_team_member":{"type":"boolean","description":"If this player is on the current roster"}}}}}}}}},"/teams/{team_id}/heroes":{"get":{"tags":["teams"],"summary":"GET /teams/{team_id}/heroes","description":"Get heroes for a team","parameters":[{"name":"team_id","in":"path","description":"Team ID","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"title":"TeamHeroesResponse","type":"object","properties":{"hero_id":{"type":"integer","description":"The hero ID"},"name":{"type":"string","description":"The hero name"},"games_played":{"type":"integer","description":"Number of games played"},"wins":{"type":"integer","description":"Number of wins"}}}}}}}}},"/replays":{"get":{"tags":["replays"],"summary":"GET /replays","description":"Get data to construct a replay URL with","parameters":[{"name":"match_id","in":"query","description":"Match IDs (array)","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"ReplaysResponse","type":"object","properties":{"match_id":{"type":"integer","description":"match_id"},"cluster":{"type":"integer","description":"cluster"},"replay_salt":{"type":"integer","description":"replay_salt"}}}}}}}}}},"/records/{field}":{"get":{"tags":["records"],"summary":"GET /records/{field}","description":"Get top performances in a stat","parameters":[{"name":"field","in":"path","description":"Field name to query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"RecordsResponse","type":"object","properties":{"match_id":{"type":"integer","description":"match_id"},"start_time":{"type":"integer","description":"start_time"},"hero_id":{"type":"integer","description":"The ID value of the hero played"},"score":{"type":"number","description":"score"}}}}}}}}}},"/live":{"get":{"tags":["live"],"summary":"GET /live","description":"Get top currently ongoing live games","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"LiveResponse","type":"object","properties":{}}}}}}}}},"/scenarios/itemTimings":{"get":{"tags":["scenarios"],"summary":"GET /scenarios/itemTimings","description":"Win rates for certain item timings on a hero for items that cost at least 1400 gold","parameters":[{"name":"item","in":"query","description":"Filter by item name e.g. \"spirit_vessel\"","schema":{"type":"string"}},{"name":"hero_id","in":"query","description":"Hero ID","schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"ScenarioItemTimingsResponse","type":"object","properties":{"hero_id":{"type":"integer","description":"Hero ID"},"item":{"type":"string","description":"Purchased item"},"time":{"type":"integer","description":"Ingame time in seconds before the item was purchased"},"games":{"type":"string","description":"The number of games where the hero bought this item before this time"},"wins":{"type":"string","description":"The number of games won where the hero bought this item before this time"}}}}}}}}}},"/scenarios/laneRoles":{"get":{"tags":["scenarios"],"summary":"GET /scenarios/laneRoles","description":"Win rates for heroes in certain lane roles","parameters":[{"name":"lane_role","in":"query","description":"Filter by lane role 1-4 (Safe, Mid, Off, Jungle)","schema":{"type":"string"}},{"name":"hero_id","in":"query","description":"Hero ID","schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"ScenarioLaneRolesResponse","type":"object","properties":{"hero_id":{"type":"integer","description":"Hero ID"},"lane_role":{"type":"integer","description":"The hero's lane role"},"time":{"type":"integer","description":"Maximum game length in seconds"},"games":{"type":"string","description":"The number of games where the hero played in this lane role"},"wins":{"type":"string","description":"The number of games won where the hero played in this lane role"}}}}}}}}}},"/scenarios/misc":{"get":{"tags":["scenarios"],"summary":"GET /scenarios/misc","description":"Miscellaneous team scenarios","parameters":[{"name":"scenario","in":"query","description":"pos_chat_1min,neg_chat_1min,courier_kill,first_blood","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"ScenarioMiscResponse","type":"object","properties":{"scenario":{"type":"string","description":"The scenario's name or description"},"is_radiant":{"type":"boolean","description":"Boolean indicating whether Radiant executed this scenario"},"region":{"type":"integer","description":"Region the game was played in"},"games":{"type":"string","description":"The number of games where this scenario occurred"},"wins":{"type":"string","description":"The number of games won where this scenario occured"}}}}}}}}}},"/schema":{"get":{"tags":["schema"],"summary":"GET /schema","description":"Get database schema","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"SchemaResponse","type":"object","properties":{"table_name":{"type":"string","description":"table_name"},"column_name":{"type":"string","description":"column_name"},"data_type":{"type":"string","description":"data_type"}}}}}}}}}},"/constants/{resource}":{"get":{"tags":["constants"],"summary":"GET /constants","description":"Get static game data mirrored from the dotaconstants repository.","parameters":[{"name":"resource","in":"path","description":"Resource name e.g. `heroes`. [List of resources](https://github.com/odota/dotaconstants/tree/master/build)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"ConstantResourceResponse","type":"object"}}}}}}}},"/constants":{"get":{"tags":["constants"],"summary":"GET /constants","description":"Gets an array of available resources.","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"title":"ConstantsResponse","type":"string"}}}}}}}}},"components":{"securitySchemes":{"api_key":{"type":"apiKey","description":"Use an API key to remove monthly call limits and to receive higher rate limits. [Learn more and get your API key](https://www.opendota.com/api-keys).\n\n      Usage example: https://api.opendota.com/api/matches/271145478?api_key=YOUR-API-KEY\n      \n      API key can also be sent using the authorization header \"Authorization: Bearer YOUR-API-KEY\"\n      ","name":"api_key","in":"query"}}}}